.event{
    border: none;
    background-color: aqua;
    /* padding: 4px; */
    border-radius: 5px; 
    cursor: pointer;
    color: black;
    /* margin-bottom: 1rem; */
     margin-top: 3rem; 
    margin-left: 25%;  
    /* margin-right: 6rem;   */
    /* box-shadow: 5px 5px 5px gray; */
    font-size: 20px;
    position: relative;
    width: 50%;
    font-family: Futura-medium;
    padding: 20px;
    animation-duration: 3s;
  animation-name: slide-in;
}

.prod{
    border: none;
    background-color: aqua;
    /* padding: 4px; */
    border-radius: 8px; 
    cursor: pointer;
    color: black;
    /* margin-bottom: 2rem; */
     margin-top: 2rem; 
    margin-left: 25%;  
    /* margin-right: 6rem;   */
    /* box-shadow: 5px 5px 5px gray; */
    font-size: 20px;
    position: relative;
    width: 50%;
    font-family: Futura-medium;
    padding: 20px;  
    animation-duration: 2.5s;
  animation-name: slide-in;
  /* animation-iteration-count: infinite; */
}

.btnCont{
    display: grid;
}

.heading{
    display: flex;
    margin-left: 42%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .heading{
    animation: grow-and-shrink;
  }
}  */

@keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  } 

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }