.super-event-cont{
        display: flex;
        align-items: center; 
        justify-content: center; 
        display: grid;
      
}

.event-container {
    align-items: center; 
    justify-content: center;
    border-style: groove;
    font-family: Futura-bold;
    margin-bottom: 4rem;
    width:70.3rem;
}

.header{
    margin-left: 45%;
    align-items: center;
    padding: 10px;
    font-family: Futura-bold;
    font-size: 50px;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.not-footer-event{
    margin-left: 27%;
    align-items: center;
    padding: 10px;
    font-family: Futura-bold;
    font-size: 50px;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
    position: relative;
    /* width: 100%; */
}

.event-image {
    height: 45rem;
    width: 70rem;
}

.about1 {
    height: 25rem;
    width: 50rem;
}

.about2 {
    height: 25rem;
    width: 50rem;
}

.click-here{
    border: none;
  background-color: aqua;
  padding: 10px;
  border-radius: 20px; 
  cursor: pointer;
  color: black;
  margin-bottom: 3rem;
  /* margin-top: 2rem; */
  margin-left: 38%; 
  /* margin-right: 6   rem;  */
  box-shadow: 5px 5px 5px gray;
  font-size: 20px;
  position: relative;
  width: 20%;
  font-family: Futura-medium;
}

.click-here:hover{
    background-color: transparent;
    color:#003366;
    border-color: #003366;
    border-style: solid;
  }
  
  .click-here:active{
    background-color: aqua;
    color: black ;
    border: none;
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }
  
  .book-a-ticket{
    border: none;
    background-color: aqua;
    padding: 4px;
    border-radius: 20px; 
    cursor: pointer;
    color: black;
    margin-bottom: 2rem;
    /* margin-top: 2rem; */
    margin-left: 73%;  
    /* margin-right: 6rem;   */
    box-shadow: 5px 5px 5px gray;
    font-size: 20px;
    position: relative;
    width: 25%;
    font-family: Futura-medium;
    }
    
.book-a-ticket:hover{
    background-color: transparent;
    color:#003366;
    border-color: #003366;
    border-style: solid;
}
    
.book-a-ticket:active{
    background-color: aqua;
    color: black ;
    border: none;
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.searchInput{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.search-btn{
    margin-left: 1rem;

}

.search{
    margin-right: 1rem;
    width: 400px;
    margin-left: 22rem;
}