.ticket-super-container{
    font-family: Futura-bold;
    /* align-items: center;
    text-align: center; */
}

.ticket-header{
    margin-left: 45%;
}

.confirm-ticket{
    border: none;
    background-color: aqua;
    padding: 10px;
    border-radius: 20px; 
    cursor: pointer;
    color: black;
    margin-bottom: 3rem;
    /* margin-top: 2rem; */
    margin-left: 38%; 
    /* margin-right: 6   rem;  */
    box-shadow: 5px 5px 5px gray;
    font-size: 18px;
    position: relative;
    width: 70%;
    font-family: Futura-medium;
    }
    
    .confirm-ticket:hover{
    background-color: transparent;
    color:#003366;
    border-color: #003366;
    border-style: solid;
    }
    
    .confirm-ticket:active{
    background-color: aqua;
    color: black ;
    border: none;
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
    }
    